@import "./font.css";

* {
    outline: none;
    border: none;
    box-sizing: border-box;
}

body.loading .preloader:after {
    content: '';
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 32px;
    height: 32px;
    border: solid;
    border-width: 4px;
    border-radius: 50%;
    border-top-color: #FBFBFB;
    border-bottom-color: #1A712A;
    border-right-color: #1A712A;
    border-left-color: #1A712A;

    animation: rotate 0.5s linear infinite;
}

body.loading .preloader {
    background: #FBFBFB;
    position: fixed;
    inset: 0;
    z-index: 3;
}

body.loading {
    overflow: hidden;
}

body,
button {
    font-family: "Cera Pro";
}

button,
a {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-top: 30px;
        border-bottom: 0.3px solid #46A358;
    }

    &>img {
        align-self: flex-end;
        margin-bottom: 18px;
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 30px;
        align-self: flex-end;
        margin-bottom: 18px;
    }

    .icon-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        padding: 0;
        color: #3D3D3D;
    }

    .login-btn {
        padding: 0;
        background: none;
        border: none;
    }

    .login-btn a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: #FFFFFF;
        background: #46A358;
        border-radius: 6px;
        padding: 8px 17px 8px;
        font-size: 16px;
        font-weight: 500;
    }

    nav {

        align-items: flex-end;

        &>ul {
            display: flex;
            gap: 50px;
            padding: 0;
            margin: 0;
            align-items: center;
            list-style: none;
        }

        &>ul>li {

            position: relative;
            padding-top: 10px;
            padding-bottom: 25px;
            display: inline-block;
            border-bottom: 3px solid transparent;
            transition: border-color 0.5s ease;
        }

        a {
            font-weight: 400;
            color: #3D3D3D;
            text-decoration: none;
            display: flex;
            justify-content: space-between;

        }

        >ul>li:hover {
            border-color: #46A358;
        }

        >ul>li:active>a,
        >ul>li:hover>a {
            font-weight: 700;
        }

        .sublist {
            position: absolute;
            padding-top: 12px;
            display: none;
            width: 188px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);

            span {
                text-align: end;
            }

            li {
                background: #EDF6EE;
                width: 100%;
                padding: 7px 14px 8px;
                transition: background-color 0.5s ease;

                &:hover {
                    background: #1A712A;

                    >a {
                        font-weight: 700;
                        color: #FFFFFF;
                    }

                    >a>span {
                        transform: rotate(180deg);
                        transition: transform 0.5s ease;
                    }
                }
            }

            &.second {
                top: 12px;
                left: 100%;
                transform: none;
                padding-top: 0;
                padding-left: 2px;
            }
        }

        >ul>li:hover>.sublist,
        >ul>li:hover>.sublist>li:hover .sublist {
            display: block;
        }
    }
}

button {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px 8px;
    transition: opacity 0.5s ease, background-color 0.5s ease;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        background: #071109;
    }

    &.large-btn {
        padding: 11px 26px 9px;
        font-weight: 700;
    }

    &.care-btn {
        font-size: 14px;

    }
}

.main-container {
    display: flex;
    align-items: center;
    background: #F5F5F580;
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 20px;

    .home-text {
        width: 55%;
        box-sizing: border-box;
        padding: 40px;

        .top-text {
            font-size: 14px;
            font-weight: 500;
            color: #3D3D3D;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-top: -23px;
            margin-bottom: 7px;
            line-height: 16px;
        }

        h1 {
            font-size: 70px;
            font-weight: 900;
            color: #3D3D3D;
            text-transform: uppercase;
            margin-bottom: 5px;
            line-height: 70px;

            span {
                color: #46A358;
                ;
            }
        }

        .text {
            font-size: 14px;
            font-weight: 400;
            color: #727272;
            line-height: 24px;
            margin-bottom: 44px;
            max-width: 557px;
            width: 100%;
        }
    }

    .home-media {
        width: 45%;
        box-sizing: border-box;
        text-align: right;

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
        }
    }
}

#shop {
    .container {
        display: flex;
        align-items: flex-start;
        gap: 50px;
    }
}

.sidebar {
    box-sizing: border-box;
    width: 310px;
    margin-top: 26px;

    .categories-box {
        padding: 14px 18px 19px 18px;
        box-sizing: border-box;
        width: 100%;
        background-color: #FBFBFB;
    }

    ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .count {
        font-size: 14px;
        color: #3D3D3D;
        transition: color 0.5s ease;
    }

    ul li:hover .count {
        color: #46A358;
        font-weight: 700;
    }

    ul li a.active {
        color: #46A358;
        font-weight: 700;
    }

    .price-range-box {
        margin-top: 36px;

        .price-slider {
            width: 100%;
            accent-color: #46A358;
            margin: 12px 0;
            padding-left: 30px;
        }

        .price-value {
            font-size: 15px;
            color: #3D3D3D;
            margin-bottom: 16px;
            padding-left: 12px;

            span {
                color: #46A358;
                font-weight: 700;
            }
        }

        .filter-btn {
            background: #46A358;
            color: #FFFFFF;
            border-radius: 6px;
            padding: 8px 25px;
            font-size: 16px;
            font-weight: 700;
            transition: opacity 0.25s ease;
            margin-left: 12px;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    .size-box {
        margin-top: 46px;
    }

    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #3D3D3D;
        margin: 0;
        margin-bottom: 7px;
    }

    ul {
        list-style: none;
        padding-left: 12px;
        margin: 0;

        li {
            a {
                display: inline-block;
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 40px;
                color: #3D3D3D;
                width: 100%;
                transition: color 0.5s ease;
            }

            a:active,
            a:hover {
                font-weight: 700;
                color: #46A358;
            }
        }
    }

    img {
        display: block;
        width: 310px;
        height: 470px;
        margin: 0;
        object-fit: cover;
    }
}


.shop-content {
    width: 840px;
    box-sizing: border-box;
    margin-top: 26px;

    .filter-bar {
        width: 100%;
        margin-bottom: 31px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .filter-list {
            display: flex;
            gap: 40px;

            .tab {
                display: inline-block;
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                color: #3D3D3D;
                position: relative;
                border-bottom: 2px solid transparent;
                padding-bottom: 7px;
                transition: color 0.5s ease-in-out, border-color 0.5s ease;
            }

            a:active,
            a:hover {
                font-weight: 700;
                border-color: #46A358;
                color: #46A358;
            }

        }

        .sort-options {
            display: flex;
            align-items: center;
            gap: 5px;
            padding-bottom: 7px;

            .sort-text {
                font-size: 15px;
                color: #3D3D3D;
                font-weight: 400;
                line-height: 16px;
            }

            img {
                display: inline-block;
            }
        }
    }
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    width: 100%;

    .products-card {
        border-top: 1px solid transparent;
        width: 258px;
        height: 350px;
        box-sizing: border-box;
        transition: border-color 0.5s ease-in-out;

        &:last-child {
            margin-bottom: 70px;
        }

        &:hover {
            border-color: #46A358;

            .plants-buttons {
                opacity: 1;
            }
        }

        .img-box {
            position: relative;
            width: 258px;
            height: 300px;
            background-color: #FBFBFB;
            box-sizing: border-box;

            .sale-blanket {
                position: absolute;
                top: 14px;
                left: 0;
                background-color: #46A358;
                color: #FFFFFF;
                font-size: 16px;
                line-height: 16px;
                font-weight: 500;
                padding: 7px 8px 6px 9px;
                z-index: 2;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                padding: 31px 4px 19px;
                object-fit: contain;
            }
        }

        .plants-buttons {
            position: absolute;
            opacity: 0;
            bottom: 8px;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            transition: opacity 0.25s ease;

            button {
                width: 35px;
                height: 35px;
                background: #FFFFFF;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                color: #3D3D3D;
                transition: color 0.2s ease;

                svg {
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    background: transparent;
                }

                &:hover {
                    color: #46A358;
                }

            }

        }
    }

    h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #3D3D3D;
        margin: 0;
        margin-top: 12px;
        margin-bottom: 6px;
    }

    span {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #46A358;
        margin: 0;
    }
}

.price-box {
    display: flex;
    align-items: center;
    gap: 16px;

    .new-price {
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #46A358;
    }

    .old-price {
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        color: #A5A5A5;
        text-decoration: line-through;
    }
}


.page-numbering {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 17px;
    margin-bottom: 82px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        line-height: 16px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        color: #3D3D3D;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        padding: 9px 13px 10px 12px;
        transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;

        &:first-child {
            margin-left: 0;
        }

        img {
            width: 18px;
            height: 18px;
        }
    }

    a:active,
    a:hover {
        font-weight: 700;
        border-color: #46A358;
        background-color: #46A358;
        color: #FFFFFF;
    }
}

.plant-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;

    .plant-box {
        display: flex;
        align-items: center;
        background: #FBFBFB;
        width: 100%;
        max-width: 586px;
        height: 250px;
        padding: 37px 30px;
        box-sizing: border-box;

        img.care-img {
            width: 52%;
            height: 292px;
            display: block;
            align-self: flex-end;
        }

        .plant-content {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h3 {
                font-size: 18px;
                font-weight: 900;
                line-height: 24px;
                color: #3D3D3D;
                margin-top: 5px;
                margin-bottom: 9px;
                text-transform: uppercase;
                max-width: 150px;
                width: 100%;
                text-align: right;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #727272;
                margin-bottom: 25px;
                max-width: 292px;
                width: 100%;
                text-align: right;
            }

            .care-btn {
                span {
                    font-weight: 500;
                }
            }
        }

    }
}

.blogs-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 138px;

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 16px;
        color: #3D3D3D;
        max-width: 209px;
        width: 100%;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #727272;
        max-width: 557px;
        width: 100%;
        margin-bottom: 35px;
    }
}

.blogs-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 44px;
    width: 100%;

    .blog-card {
        width: 268px;
        box-sizing: border-box;

        .blog-img {
            display: block;
            width: 100%;
            height: auto;
        }

        .blog-content {
            display: flex;
            flex-direction: column;
            background: #FBFBFB;
            width: 100%;
            max-width: 268px;
            height: 167px;
            padding: 9px 13px 12px;
            box-sizing: border-box;

            .blogs-top-text {
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                color: #46A358;
                max-width: 222px;
                width: 100%;
                margin-bottom: 4px;
            }

            h2 {
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
                color: #3D3D3D;
                max-width: 189px;
                width: 100%;
                margin-bottom: 4px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #727272;
                max-width: 242px;
                width: 100%;
                margin-bottom: 9px;
            }

            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                color: #3D3D3D;
                display: inline-flex;
                align-items: center;
                gap: 3px;
                transition: color 0.5s ease;

                img {
                    display: block;
                    width: auto;
                    height: auto;
                    transition: filter 0.5s ease;
                }
            }

            a:active,
            a:hover {
                color: #46A358;

                img {
                    filter: invert(53%) sepia(34%) saturate(731%) hue-rotate(84deg) brightness(91%) contrast(86%);
                }
            }
        }
    }
}

footer {
    margin-top: 100px;
    width: 100%;

    .container {
        background-color: #FBFBFB;
        padding-top: 25px;
        padding-bottom: 0;

        .footer-features {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 30px;
            padding: 0 24px;
            width: 100%;
            box-sizing: border-box;

            .feature-item {
                width: 204px;
                border-right: 1px solid rgba(70, 163, 88, 0.1);
                padding-right: 30px;
                box-sizing: border-box;

                .feature-icon {
                    height: 96px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 15px;

                    svg {
                        display: block;
                        height: 100%;
                        width: auto;
                    }
                }

                h3 {
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 16px;
                    color: #3D3D3D;
                    margin-bottom: 9px;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    color: #727272;
                    line-height: 22px;
                    margin: 0;
                }
            }

            .newsletter-box {
                width: 354px;

                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 16px;
                    color: #3D3D3D;
                    margin-bottom: 25px;
                }

                .subscribe-form {
                    display: flex;
                    height: 40px;
                    margin-bottom: 18px;
                    border-radius: 6px;
                    overflow: hidden;
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);

                    input {
                        flex-grow: 1;
                        padding: 0 11px;
                        border: none;
                        outline: none;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        color: #ACACAC;
                    }

                    button {
                        background: #46A358;
                        color: #FFFFFF;
                        border: none;
                        padding: 0 25px;
                        font-weight: 700;
                        line-height: 16px;
                        border-radius: 0 6px 6px 0;
                    }
                }

                .newsletter-desc {
                    font-size: 13px;
                    font-weight: 400;
                    color: #727272;
                    line-height: 22px;
                    width: 100%;
                    max-width: 354px;
                }
            }
        }

        .footer-contact-gradient {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 24px;
            box-sizing: border-box;
            background: linear-gradient(to right, #EDF6EF, #52C368);

            .footer-logo {
                display: block;
                width: 150px;
                height: 34px;

                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .contact-link {
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
                color: #3D3D3D;
                display: flex;
                align-items: center;
                gap: 9px;

                &:nth-child(2) {
                    max-width: 205px;
                }


                .contact-icon {
                    width: 20px;
                    height: 20px;
                    display: block;
                    flex-shrink: 0;
                }

                span {
                    line-height: 22px;
                }
            }
        }

        .footer-links-grid {
            display: flex;
            justify-content: space-between;
            padding: 33px 25px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(70, 163, 88, 0.2);

            .links-column {
                width: 20%;

                h4 {
                    font-size: 18px;
                    line-height: 16px;
                    font-weight: 700;
                    color: #3D3D3D;
                    margin-bottom: 8px;
                }

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        a {
                            text-decoration: none;
                            font-size: 14px;
                            line-height: 30px;
                            font-weight: 400;
                            color: #3D3D3D;
                            transition: color 0.5s ease-out;

                            &:hover {
                                color: #46A358;
                            }
                        }
                    }
                }
            }

            .media-column {
                width: 25%;

                .social-icons {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 33px;

                    .social-btn {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                }

                .payment-methods {
                    width: 100%;
                    max-width: 224px;
                    height: 26px;
                    background-image: url('../img/image\ 16.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;
                }
            }
        }
    }

    .footer-copyright {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        color: #3D3D3D;
        padding-top: 6px;
        padding-bottom: 22px;
        margin: 0;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}