* {
    outline: none;
    border: none;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat";
}

button,
a {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {

    nav,
    img,
    button {
        vertical-align: middle;
        display: inline-block;
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    img {
        float: left;
    }

    .container {
        padding-top: 25px;
        border-bottom: 0.3px solid #46A358;
    }

    button {
        float: right;
    }

    nav {
        margin-left: 230px;
        max-width: 350px;
        width: 100%;

        a {
            &:not(:first-of-type) {
                margin-left: 30px;
            }

            padding-top: 10px;
            padding-bottom: 15px;
            display: inline-block;
            font-weight: 400;
            color: #3D3D3D;
            text-decoration: none;
            border-bottom: 3px solid transparent;
        }

        a:active,
        a:hover {
            font-weight: 700;
            border-color: #46A358;
        }
    }
}

button {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px 8px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        background: #1f4928;
    }

    &.large-btn {
        padding: 11px 26px 9px;
        font-weight: 700;
    }
}

.main-container {
    background: #F5F5F580;
    max-width: 1200px;
    max-height: 450px;
    margin: 0 auto;
    margin-top: 12px;
    font-size: 0;

    .home-text {
        display: inline-block;
        vertical-align: middle;
        width: 65%;
        box-sizing: border-box;
        padding: 40px;
        font-size: 16px;

        .top-text {
            font-size: 14px;
            font-weight: 500;
            color: #3D3D3D;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 7px;
            line-height: 16px;
        }

        h1 {
            font-size: 70px;
            font-weight: 900;
            color: #3D3D3D;
            text-transform: uppercase;
            margin-bottom: 5px;
            line-height: 70px;


            span {
                color: #46A358;
                ;
            }
        }

        .text {
            font-size: 14px;
            font-weight: 400;
            color: #727272;
            line-height: 24px;
            margin-bottom: 44px;
        }
    }

    .home-media {
        display: inline-block;
        vertical-align: middle;
        width: 35%;
        box-sizing: border-box;
        text-align: right;
        font-size: 16px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 310px;
    margin-right: 40px;
    margin-top: 26px;
    background-color: #FBFBFB;


    .categories-box {
        padding: 14px 18px 370px 18px;
        box-sizing: border-box;
        width: 100%;
    }

    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #3D3D3D;
        margin: 0;
        margin-bottom: 7px;
    }

    ul {
        list-style: none;
        padding-left: 12px;
        margin: 0;

        li {
            a {
                display: inline-block;
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 40px;
                color: #3D3D3D;
                width: 100%;
            }

            a:active,
            a:hover {
                font-weight: 700;
                color: #46A358;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 20px;
    }
}

.shop-content {
    display: inline-block;
    vertical-align: top;
    width: 840px;
    box-sizing: border-box;
    margin-top: 26px;

    .filter-bar {
        width: 100%;
        margin-bottom: 31px;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        .filter-list {
            float: left;

            .tab {
                display: inline-block;
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                color: #3D3D3D;
                margin-right: 40px;
                position: relative;
                border-bottom: 2px solid transparent;
                padding-bottom: 7px;

                &:last-child {
                    margin-right: 0;
                }

            }

            a:active,
            a:hover {
                font-weight: 700;
                border-color: #46A358;
                color: #46A358;
            }

        }

        .sort-options {
            float: right;
            padding-bottom: 7px;

            .sort-text {
                font-size: 15px;
                color: #3D3D3D;
                font-weight: 400;
                line-height: 16px;
                vertical-align: middle;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
}

.products-grid {
    width: 100%;

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    .products-card {
        float: left;
        width: 258px;
        height: 350px;
        margin-right: 33px;
        margin-bottom: 70px;
        box-sizing: border-box;

        &:nth-child(3n) {
            margin-right: 0;
        }

        img {
            display: block;
            width: 258px;
            height: 300px;
            background-color: #FBFBFB;
            box-sizing: border-box;
            padding: 31px 4px 19px;
        }

        h3 {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #3D3D3D;
            margin: 0;
            margin-top: 12px;
            margin-bottom: 6px;
        }

        span {
            display: block;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            color: #46A358;
            margin: 0;
        }
    }
}

.page-numbering {
    float: right;
    margin-top: 90px;
    margin-bottom: 82px;

    a {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        line-height: 16px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        color: #3D3D3D;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        margin-left: 10px;
        padding: 9px 13px 10px 12px;

        &:first-child {
            margin-left: 0;
        }

        img {
            width: 18px;
            height: 18px;
        }
    }

    a:active,
    a:hover {
        font-weight: 700;
        border-color: #46A358;
        background-color: #46A358;
        color: #FFFFFF;
    }
}