body{
    background-color: grey;
    display: flex;
    justify-content: center; /* Центрує картку по горизонталі (ліво-право) */
    align-items: center;     /* Центрує картку по вертикалі (верх-низ) */
    min-height: 100vh;
}
.box-form{
    background-color: #FFFFFF;
    width: 500px;
    padding: 50px 100px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-bottom: 10px solid #46A358;
}
input {
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

form {
    width: 500px;
    margin: 50px auto;
}

.title {
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 40px;
}

.color-title {
    color: #46A358;
}

.text-top {
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 14px;
}

.register-button {
    background-color: #46A358;
    color: #FFFFFF;
    width: 300px;
    height: 45px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 36px;
}

.text-below {
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 27px;
}

.social-button-1 {
    width: 300px;
    height: 40px;
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}

.social-button-2 {
    width: 300px;
    height: 40px;
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}

.password-box{
    display: flex;
    align-items: center;
    position: relative;
}
.toggle-password{
    background: none;   
    border: none;
}