input {
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

form {
    width: 500px;
    margin: 0 auto;
}

.title {
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 40px;
}

.color-title {
    color: #46A358;
}

.text-top {
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 14px;
}

.register-button {
    background-color: #46A358;
    color: #FFFFFF;
    width: 300px;
    height: 45px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 36px;
}

.text-below {
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 27px;
}

.social-button-1 {
    width: 300px;
    height: 40px;
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}

.social-button-2 {
    width: 300px;
    height: 40px;
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}

.password-box {
    position: relative;
    width: 300px;
}

.password-box .show-text {
    display: none;
}

.eye-checkbox {
    display: none;
}

.eye-label {
    position: absolute;
    right: 10px;
    top: 10px; 
    cursor: pointer;
}

.eye-image {
    width: 20px;
    height: 20px;
}

.eye-checkbox:checked ~ .hidden-text {
    display: none;
}

.eye-checkbox:checked ~ .show-text {
    display: block;
}